USE [master]
GO
/****** Object:  Database [FxFitnessCenterDB]    Script Date: 6/10/2026 7:54:13 AM ******/
CREATE DATABASE [FxFitnessCenterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FxFitnessCenterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FxFitnessCenterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FxFitnessCenterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\FxFitnessCenterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FxFitnessCenterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FxFitnessCenterDB]
GO
/****** Object:  Table [dbo].[AIConsultations]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AIConsultations](
	[consultation_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NULL,
	[guest_name] [nvarchar](100) NULL,
	[consultation_type] [varchar](50) NULL,
	[age] [int] NULL,
	[gender] [nvarchar](10) NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[bmi]  AS (case when [height]>(0) then round([weight]/([height]*[height]),(2)) else (0) end),
	[fitness_goal] [nvarchar](100) NULL,
	[recommended_sport] [varchar](50) NULL,
	[recommended_membership] [nvarchar](100) NULL,
	[recommended_schedule] [nvarchar](max) NULL,
	[recommendation_detail] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[consultation_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[announcement_id] [int] IDENTITY(1,1) NOT NULL,
	[admin_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[announcement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Appointments]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Appointments](
	[appointment_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[schedule_id] [int] NOT NULL,
	[status] [varchar](30) NULL,
	[note] [nvarchar](500) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[appointment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatMessages]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatMessages](
	[message_id] [int] IDENTITY(1,1) NOT NULL,
	[sender_id] [int] NOT NULL,
	[receiver_id] [int] NOT NULL,
	[message_content] [nvarchar](max) NULL,
	[sent_at] [datetime] NULL,
	[is_seen] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[message_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MealPlans]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MealPlans](
	[meal_plan_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[member_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[calories_per_day] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[meal_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberMemberships]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberMemberships](
	[member_membership_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[membership_plan_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[membership_status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[member_membership_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[member_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[bmi]  AS (case when [height]>(0) then round([weight]/([height]*[height]),(2)) else (0) end),
	[fitness_goal] [nvarchar](100) NULL,
	[emergency_contact] [varchar](20) NULL,
	[joined_date] [date] NULL,
	[fitness_level] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[member_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberServices]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberServices](
	[member_service_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[service_status] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[member_service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPlans]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPlans](
	[membership_plan_id] [int] IDENTITY(1,1) NOT NULL,
	[plan_name] [nvarchar](100) NOT NULL,
	[sport_type] [varchar](50) NOT NULL,
	[duration_months] [int] NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[description] [nvarchar](500) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[membership_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[content] [nvarchar](max) NULL,
	[notification_type] [varchar](50) NULL,
	[is_read] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[payment_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[amount] [decimal](10, 2) NOT NULL,
	[payment_type] [varchar](50) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_status] [varchar](30) NULL,
	[transaction_code] [varchar](100) NULL,
	[payment_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[payment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProgressTrackings]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProgressTrackings](
	[progress_id] [int] IDENTITY(1,1) NOT NULL,
	[member_id] [int] NOT NULL,
	[height] [float] NULL,
	[weight] [float] NULL,
	[bmi]  AS (case when [height]>(0) then round([weight]/([height]*[height]),(2)) else (0) end),
	[body_fat] [float] NULL,
	[muscle_mass] [float] NULL,
	[recorded_date] [datetime] NULL,
	[note] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[progress_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reports](
	[report_id] [int] IDENTITY(1,1) NOT NULL,
	[reported_by] [int] NOT NULL,
	[reported_user_id] [int] NULL,
	[reported_service_id] [int] NULL,
	[reported_membership_plan_id] [int] NULL,
	[title] [nvarchar](200) NOT NULL,
	[reason] [nvarchar](max) NOT NULL,
	[status] [varchar](30) NULL,
	[created_at] [datetime] NULL,
	[resolved_at] [datetime] NULL,
	[admin_note] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[report_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[role_id] [int] NOT NULL,
	[role_name] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[role_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](100) NOT NULL,
	[service_type] [nvarchar](50) NULL,
	[description] [nvarchar](500) NULL,
	[price] [decimal](10, 2) NULL,
	[status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerCertifications]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerCertifications](
	[certification_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[certification_name] [nvarchar](200) NULL,
	[issued_by] [nvarchar](200) NULL,
	[issued_date] [date] NULL,
	[expiry_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[certification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trainers]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trainers](
	[trainer_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[specialization] [nvarchar](100) NULL,
	[experience_years] [int] NULL,
	[experience_description] [nvarchar](max) NULL,
	[bio] [nvarchar](max) NULL,
	[rating] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[trainer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TrainerSchedules]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrainerSchedules](
	[schedule_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[working_date] [date] NOT NULL,
	[start_time] [time](7) NOT NULL,
	[end_time] [time](7) NOT NULL,
	[availability_status] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[schedule_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[phone_number] [varchar](20) NULL,
	[gender] [nvarchar](10) NULL,
	[date_of_birth] [date] NULL,
	[role_id] [int] NOT NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[avatar_url] [varchar](255) NULL,
	[must_change_password] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutExercises]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutExercises](
	[exercise_id] [int] IDENTITY(1,1) NOT NULL,
	[workout_plan_id] [int] NOT NULL,
	[exercise_name] [nvarchar](100) NULL,
	[sets] [int] NULL,
	[reps] [int] NULL,
	[duration_minutes] [int] NULL,
	[calories_burned] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[exercise_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkoutPlans]    Script Date: 6/10/2026 7:54:14 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkoutPlans](
	[workout_plan_id] [int] IDENTITY(1,1) NOT NULL,
	[trainer_id] [int] NOT NULL,
	[member_id] [int] NOT NULL,
	[title] [nvarchar](200) NULL,
	[description] [nvarchar](max) NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[workout_plan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Appointments] ON 

INSERT [dbo].[Appointments] ([appointment_id], [member_id], [schedule_id], [status], [note], [created_at]) VALUES (4, 1, 7, N'Confirmed', N'Tập trung tập bụng và đùi', CAST(N'2026-06-08T11:22:49.730' AS DateTime))
INSERT [dbo].[Appointments] ([appointment_id], [member_id], [schedule_id], [status], [note], [created_at]) VALUES (5, 1, 8, N'Confirmed', N'Bài tập thể lực Cardio nhẹ', CAST(N'2026-06-08T11:22:49.730' AS DateTime))
SET IDENTITY_INSERT [dbo].[Appointments] OFF
GO
SET IDENTITY_INSERT [dbo].[MemberMemberships] ON 

INSERT [dbo].[MemberMemberships] ([member_membership_id], [member_id], [membership_plan_id], [start_date], [end_date], [membership_status]) VALUES (9, 18, 1, CAST(N'2026-06-07' AS Date), CAST(N'2026-09-07' AS Date), N'Active')
INSERT [dbo].[MemberMemberships] ([member_membership_id], [member_id], [membership_plan_id], [start_date], [end_date], [membership_status]) VALUES (10, 19, 1, CAST(N'2026-06-07' AS Date), CAST(N'2026-09-07' AS Date), N'Active')
INSERT [dbo].[MemberMemberships] ([member_membership_id], [member_id], [membership_plan_id], [start_date], [end_date], [membership_status]) VALUES (11, 19, 1, CAST(N'2026-06-07' AS Date), CAST(N'2026-09-07' AS Date), N'Active')
SET IDENTITY_INSERT [dbo].[MemberMemberships] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([member_id], [user_id], [height], [weight], [fitness_goal], [emergency_contact], [joined_date], [fitness_level]) VALUES (1, 4, 1.7, 68, N'Tăng cơ giảm mỡ', N'0999888777', CAST(N'2026-06-05' AS Date), NULL)
INSERT [dbo].[Members] ([member_id], [user_id], [height], [weight], [fitness_goal], [emergency_contact], [joined_date], [fitness_level]) VALUES (18, 22, NULL, NULL, NULL, NULL, CAST(N'2026-06-07' AS Date), NULL)
INSERT [dbo].[Members] ([member_id], [user_id], [height], [weight], [fitness_goal], [emergency_contact], [joined_date], [fitness_level]) VALUES (19, 23, NULL, NULL, NULL, NULL, CAST(N'2026-06-07' AS Date), NULL)
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipPlans] ON 

INSERT [dbo].[MembershipPlans] ([membership_plan_id], [plan_name], [sport_type], [duration_months], [price], [description], [status]) VALUES (1, N'Gym 3 Tháng', N'Gym', 3, CAST(5000.00 AS Decimal(10, 2)), N'Tập tự do khu vực Gym trong 3 tháng', N'Active')
INSERT [dbo].[MembershipPlans] ([membership_plan_id], [plan_name], [sport_type], [duration_months], [price], [description], [status]) VALUES (2, N'Gym 6 Tháng', N'Gym', 6, CAST(10000.00 AS Decimal(10, 2)), N'Tập tự do khu vực Gym trong 6 tháng', N'Active')
INSERT [dbo].[MembershipPlans] ([membership_plan_id], [plan_name], [sport_type], [duration_months], [price], [description], [status]) VALUES (3, N'Yoga 6 Tháng', N'Yoga', 6, CAST(15000.00 AS Decimal(10, 2)), N'Tham gia các lớp Yoga không giới hạn', N'Active')
SET IDENTITY_INSERT [dbo].[MembershipPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([payment_id], [member_id], [amount], [payment_type], [payment_method], [payment_status], [transaction_code], [payment_date]) VALUES (9, 18, CAST(5000.00 AS Decimal(10, 2)), N'Membership', N'PayOS', N'Paid', N'84570542629', CAST(N'2026-06-07T22:29:36.793' AS DateTime))
INSERT [dbo].[Payments] ([payment_id], [member_id], [amount], [payment_type], [payment_method], [payment_status], [transaction_code], [payment_date]) VALUES (10, 19, CAST(5000.00 AS Decimal(10, 2)), N'Membership', N'PayOS', N'Paid', N'84624017359', CAST(N'2026-06-07T22:30:50.627' AS DateTime))
INSERT [dbo].[Payments] ([payment_id], [member_id], [amount], [payment_type], [payment_method], [payment_status], [transaction_code], [payment_date]) VALUES (11, 19, CAST(5000.00 AS Decimal(10, 2)), N'Membership', N'PayOS', N'Paid', N'84986430029', CAST(N'2026-06-07T23:33:05.320' AS DateTime))
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
SET IDENTITY_INSERT [dbo].[Reports] ON 

INSERT [dbo].[Reports] ([report_id], [reported_by], [reported_user_id], [reported_service_id], [reported_membership_plan_id], [title], [reason], [status], [created_at], [resolved_at], [admin_note]) VALUES (4, 4, NULL, 1, NULL, N'Lỗi tủ locker', N'Hệ thống tủ locker khu vực nam bị lỗi quét mã vòng tay, không mở được ngăn 14.', N'Pending', CAST(N'2026-06-08T11:23:51.097' AS DateTime), NULL, NULL)
INSERT [dbo].[Reports] ([report_id], [reported_by], [reported_user_id], [reported_service_id], [reported_membership_plan_id], [title], [reason], [status], [created_at], [resolved_at], [admin_note]) VALUES (5, 4, NULL, NULL, 1, N'Yêu cầu hoàn trả chi phí', N'Yêu cầu xem xét hoàn trả chi phí gói tập do lịch đi công tác đột xuất không sử dụng được.', N'Pending', CAST(N'2026-06-08T11:23:51.097' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reports] OFF
GO
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (3, N'Admin')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (1, N'Member')
INSERT [dbo].[Roles] ([role_id], [role_name]) VALUES (2, N'PT')
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [price], [status]) VALUES (1, N'Dịch vụ PT 1 kèm 1', N'Personal Training', N'Hỗ trợ tập luyện cùng HLV cá nhân', CAST(500000.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [price], [status]) VALUES (2, N'Phòng Xông Hơi Sauna', N'Recovery', N'Sử dụng phòng xông hơi ướt và khô', CAST(300000.00 AS Decimal(10, 2)), N'Available')
INSERT [dbo].[Services] ([service_id], [service_name], [service_type], [description], [price], [status]) VALUES (3, N'Căng Cơ Chuyên Sâu', N'Recovery', N'HLV hỗ trợ giãn cơ sau tập luyện', CAST(250000.00 AS Decimal(10, 2)), N'Available')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Trainers] ON 

INSERT [dbo].[Trainers] ([trainer_id], [user_id], [specialization], [experience_years], [experience_description], [bio], [rating]) VALUES (1, 3, N'Fitness & Bodybuilding', 5, N'Nhiều năm kinh nghiệm giảng dạy cá nhân', N'Nhiệt tình, chu đáo', 5)
INSERT [dbo].[Trainers] ([trainer_id], [user_id], [specialization], [experience_years], [experience_description], [bio], [rating]) VALUES (2, 26, N'Fitness & Bodybuilding', 5, N'Nhiều năm kinh nghiệm giảng dạy cá nhân', N'Nhiệt tình, chu đáo', 5)
SET IDENTITY_INSERT [dbo].[Trainers] OFF
GO
SET IDENTITY_INSERT [dbo].[TrainerSchedules] ON 

INSERT [dbo].[TrainerSchedules] ([schedule_id], [trainer_id], [working_date], [start_time], [end_time], [availability_status]) VALUES (7, 1, CAST(N'2026-06-08' AS Date), CAST(N'09:00:00' AS Time), CAST(N'10:30:00' AS Time), N'Busy')
INSERT [dbo].[TrainerSchedules] ([schedule_id], [trainer_id], [working_date], [start_time], [end_time], [availability_status]) VALUES (8, 1, CAST(N'2026-06-08' AS Date), CAST(N'15:00:00' AS Time), CAST(N'16:30:00' AS Time), N'Busy')
INSERT [dbo].[TrainerSchedules] ([schedule_id], [trainer_id], [working_date], [start_time], [end_time], [availability_status]) VALUES (9, 1, CAST(N'2026-06-09' AS Date), CAST(N'17:00:00' AS Time), CAST(N'18:30:00' AS Time), N'Available')
SET IDENTITY_INSERT [dbo].[TrainerSchedules] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [gender], [date_of_birth], [role_id], [status], [created_at], [avatar_url], [must_change_password]) VALUES (1, N'Admin One', N'admin1@gmail.com', N'$2b$10$HAKmVHxgNT.7/9QqppD94OHc09ubbRgUme/4rd22en95RXhmcjHDK', NULL, NULL, NULL, 3, N'Active', CAST(N'2026-06-02T10:33:06.817' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [gender], [date_of_birth], [role_id], [status], [created_at], [avatar_url], [must_change_password]) VALUES (2, N'Quản Trị Viên', N'admin@gym.com', N'$2b$10$B3gr04Hs2BZFRtmUs3ZBouMw02gDE/ToRAm0.COBTy0VYIIdWCHSW', N'0111222333', N'Male', CAST(N'1990-01-01' AS Date), 3, N'Active', CAST(N'2026-06-05T03:07:48.897' AS DateTime), NULL, 0)
INSERT [dbo].[Users] ([user_id], [full_name], [email], [password_hash], [phone_number], [gender], [date_of_birth], [role_id], [status], [created_at], [avatar_url], [must_change_password]) VALUES (3, N'HLV Nguyễn Văn A', N'trainer@gym.com', N'$2b$10$SbFRkN2mK1e2titQapx6H.BDp2XAxlq6FOJzBxlo6I2No2h1RQSvm', N'0444555666', N'Male', CAST(N'1995-05-15' AS Date), 2, N'Active', CAST(N'2026-06-05T03:07:48.933' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkoutPlans] ON 

INSERT [dbo].[WorkoutPlans] ([workout_plan_id], [trainer_id], [member_id], [title], [description], [created_at], [updated_at]) VALUES (1, 1, 19, N'Lộ trình luyện tập với HLV 1', N'Lộ trình được tạo tự động sau khi đăng ký gói tập cùng HLV.', CAST(N'2026-06-07T23:33:05.330' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[WorkoutPlans] OFF
GO
/****** Object:  Index [UQ__Members__B9BE370EB79A4507]    Script Date: 6/10/2026 7:54:14 AM ******/
ALTER TABLE [dbo].[Members] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__783254B11E36B285]    Script Date: 6/10/2026 7:54:14 AM ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[role_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Trainers__B9BE370E4E9D85DB]    Script Date: 6/10/2026 7:54:14 AM ******/
ALTER TABLE [dbo].[Trainers] ADD UNIQUE NONCLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__AB6E61648E6EC5DE]    Script Date: 6/10/2026 7:54:14 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AIConsultations] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Appointments] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT (getdate()) FOR [sent_at]
GO
ALTER TABLE [dbo].[ChatMessages] ADD  DEFAULT ((0)) FOR [is_seen]
GO
ALTER TABLE [dbo].[MealPlans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[MemberMemberships] ADD  DEFAULT ('Active') FOR [membership_status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [joined_date]
GO
ALTER TABLE [dbo].[MemberServices] ADD  DEFAULT (getdate()) FOR [start_date]
GO
ALTER TABLE [dbo].[MemberServices] ADD  DEFAULT ('Active') FOR [service_status]
GO
ALTER TABLE [dbo].[MembershipPlans] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [is_read]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [payment_date]
GO
ALTER TABLE [dbo].[ProgressTrackings] ADD  DEFAULT (getdate()) FOR [recorded_date]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ('Pending') FOR [status]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT ('Available') FOR [status]
GO
ALTER TABLE [dbo].[Trainers] ADD  DEFAULT ((0)) FOR [rating]
GO
ALTER TABLE [dbo].[TrainerSchedules] ADD  DEFAULT ('Available') FOR [availability_status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_Users_must_change_password]  DEFAULT ((0)) FOR [must_change_password]
GO
ALTER TABLE [dbo].[WorkoutPlans] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[AIConsultations]  WITH CHECK ADD  CONSTRAINT [FK_AIConsultations_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[AIConsultations] CHECK CONSTRAINT [FK_AIConsultations_Members]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_Admin] FOREIGN KEY([admin_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_Admin]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Members]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Schedules] FOREIGN KEY([schedule_id])
REFERENCES [dbo].[TrainerSchedules] ([schedule_id])
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [FK_Appointments_Schedules]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Receiver] FOREIGN KEY([receiver_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Receiver]
GO
ALTER TABLE [dbo].[ChatMessages]  WITH CHECK ADD  CONSTRAINT [FK_ChatMessages_Sender] FOREIGN KEY([sender_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[ChatMessages] CHECK CONSTRAINT [FK_ChatMessages_Sender]
GO
ALTER TABLE [dbo].[MealPlans]  WITH CHECK ADD  CONSTRAINT [FK_MealPlans_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[MealPlans] CHECK CONSTRAINT [FK_MealPlans_Members]
GO
ALTER TABLE [dbo].[MealPlans]  WITH CHECK ADD  CONSTRAINT [FK_MealPlans_Trainers] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[MealPlans] CHECK CONSTRAINT [FK_MealPlans_Trainers]
GO
ALTER TABLE [dbo].[MemberMemberships]  WITH CHECK ADD  CONSTRAINT [FK_MemberMemberships_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[MemberMemberships] CHECK CONSTRAINT [FK_MemberMemberships_Members]
GO
ALTER TABLE [dbo].[MemberMemberships]  WITH CHECK ADD  CONSTRAINT [FK_MemberMemberships_Plans] FOREIGN KEY([membership_plan_id])
REFERENCES [dbo].[MembershipPlans] ([membership_plan_id])
GO
ALTER TABLE [dbo].[MemberMemberships] CHECK CONSTRAINT [FK_MemberMemberships_Plans]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Users]
GO
ALTER TABLE [dbo].[MemberServices]  WITH CHECK ADD  CONSTRAINT [FK_MemberServices_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[MemberServices] CHECK CONSTRAINT [FK_MemberServices_Members]
GO
ALTER TABLE [dbo].[MemberServices]  WITH CHECK ADD  CONSTRAINT [FK_MemberServices_Services] FOREIGN KEY([service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
ALTER TABLE [dbo].[MemberServices] CHECK CONSTRAINT [FK_MemberServices_Services]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK_Notifications_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK_Notifications_Users]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Members]
GO
ALTER TABLE [dbo].[ProgressTrackings]  WITH CHECK ADD  CONSTRAINT [FK_ProgressTrackings_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[ProgressTrackings] CHECK CONSTRAINT [FK_ProgressTrackings_Members]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_MembershipPlans] FOREIGN KEY([reported_membership_plan_id])
REFERENCES [dbo].[MembershipPlans] ([membership_plan_id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_MembershipPlans]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ReportedBy] FOREIGN KEY([reported_by])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ReportedBy]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_ReportedUser] FOREIGN KEY([reported_user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_ReportedUser]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [FK_Reports_Services] FOREIGN KEY([reported_service_id])
REFERENCES [dbo].[Services] ([service_id])
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [FK_Reports_Services]
GO
ALTER TABLE [dbo].[TrainerCertifications]  WITH CHECK ADD  CONSTRAINT [FK_TrainerCertifications_Trainers] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[TrainerCertifications] CHECK CONSTRAINT [FK_TrainerCertifications_Trainers]
GO
ALTER TABLE [dbo].[Trainers]  WITH CHECK ADD  CONSTRAINT [FK_Trainers_Users] FOREIGN KEY([user_id])
REFERENCES [dbo].[Users] ([user_id])
GO
ALTER TABLE [dbo].[Trainers] CHECK CONSTRAINT [FK_Trainers_Users]
GO
ALTER TABLE [dbo].[TrainerSchedules]  WITH CHECK ADD  CONSTRAINT [FK_TrainerSchedules_Trainers] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[TrainerSchedules] CHECK CONSTRAINT [FK_TrainerSchedules_Trainers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([role_id])
REFERENCES [dbo].[Roles] ([role_id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
ALTER TABLE [dbo].[WorkoutExercises]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutExercises_WorkoutPlans] FOREIGN KEY([workout_plan_id])
REFERENCES [dbo].[WorkoutPlans] ([workout_plan_id])
GO
ALTER TABLE [dbo].[WorkoutExercises] CHECK CONSTRAINT [FK_WorkoutExercises_WorkoutPlans]
GO
ALTER TABLE [dbo].[WorkoutPlans]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutPlans_Members] FOREIGN KEY([member_id])
REFERENCES [dbo].[Members] ([member_id])
GO
ALTER TABLE [dbo].[WorkoutPlans] CHECK CONSTRAINT [FK_WorkoutPlans_Members]
GO
ALTER TABLE [dbo].[WorkoutPlans]  WITH CHECK ADD  CONSTRAINT [FK_WorkoutPlans_Trainers] FOREIGN KEY([trainer_id])
REFERENCES [dbo].[Trainers] ([trainer_id])
GO
ALTER TABLE [dbo].[WorkoutPlans] CHECK CONSTRAINT [FK_WorkoutPlans_Trainers]
GO
ALTER TABLE [dbo].[AIConsultations]  WITH CHECK ADD  CONSTRAINT [CK_AIConsultation_Type] CHECK  (([consultation_type]='General Fitness' OR [consultation_type]='Relaxation' OR [consultation_type]='Muscle Gain' OR [consultation_type]='Weight Loss' OR [consultation_type]='BMI'))
GO
ALTER TABLE [dbo].[AIConsultations] CHECK CONSTRAINT [CK_AIConsultation_Type]
GO
ALTER TABLE [dbo].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_Appointment_Status] CHECK  (([status]='Rejected' OR [status]='Cancelled' OR [status]='Confirmed' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Appointments] CHECK CONSTRAINT [CK_Appointment_Status]
GO
ALTER TABLE [dbo].[MemberMemberships]  WITH CHECK ADD  CONSTRAINT [CK_MemberMembership_Status] CHECK  (([membership_status]='Cancelled' OR [membership_status]='Expired' OR [membership_status]='Active'))
GO
ALTER TABLE [dbo].[MemberMemberships] CHECK CONSTRAINT [CK_MemberMembership_Status]
GO
ALTER TABLE [dbo].[MemberServices]  WITH CHECK ADD  CONSTRAINT [CK_MemberService_Status] CHECK  (([service_status]='Cancelled' OR [service_status]='Expired' OR [service_status]='Active'))
GO
ALTER TABLE [dbo].[MemberServices] CHECK CONSTRAINT [CK_MemberService_Status]
GO
ALTER TABLE [dbo].[MembershipPlans]  WITH CHECK ADD  CONSTRAINT [CK_Membership_Status] CHECK  (([status]='Inactive' OR [status]='Active'))
GO
ALTER TABLE [dbo].[MembershipPlans] CHECK CONSTRAINT [CK_Membership_Status]
GO
ALTER TABLE [dbo].[MembershipPlans]  WITH CHECK ADD  CONSTRAINT [CK_Sport_Type] CHECK  (([sport_type]='Mixed' OR [sport_type]='Boxing' OR [sport_type]='Yoga' OR [sport_type]='Gym'))
GO
ALTER TABLE [dbo].[MembershipPlans] CHECK CONSTRAINT [CK_Sport_Type]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Status] CHECK  (([payment_status]='Failed' OR [payment_status]='Paid' OR [payment_status]='Pending'))
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [CK_Payment_Status]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [CK_At_Least_One_Target] CHECK  (([reported_user_id] IS NOT NULL OR [reported_service_id] IS NOT NULL OR [reported_membership_plan_id] IS NOT NULL))
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [CK_At_Least_One_Target]
GO
ALTER TABLE [dbo].[Reports]  WITH CHECK ADD  CONSTRAINT [CK_Report_Status] CHECK  (([status]='Rejected' OR [status]='Resolved' OR [status]='In_Progress' OR [status]='Pending'))
GO
ALTER TABLE [dbo].[Reports] CHECK CONSTRAINT [CK_Report_Status]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Role_ID] CHECK  (([role_id]=(3) OR [role_id]=(2) OR [role_id]=(1)))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Role_ID]
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD  CONSTRAINT [CK_Role_Name] CHECK  (([role_name]='Admin' OR [role_name]='PT' OR [role_name]='Member'))
GO
ALTER TABLE [dbo].[Roles] CHECK CONSTRAINT [CK_Role_Name]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD  CONSTRAINT [CK_Service_Status] CHECK  (([status]='Unavailable' OR [status]='Available'))
GO
ALTER TABLE [dbo].[Services] CHECK CONSTRAINT [CK_Service_Status]
GO
ALTER TABLE [dbo].[TrainerSchedules]  WITH CHECK ADD  CONSTRAINT [CK_Availability_Status] CHECK  (([availability_status]='Off' OR [availability_status]='Busy' OR [availability_status]='Available'))
GO
ALTER TABLE [dbo].[TrainerSchedules] CHECK CONSTRAINT [CK_Availability_Status]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [CK_User_Status] CHECK  (([status]='Inactive' OR [status]='Locked' OR [status]='Active'))
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [CK_User_Status]
GO
USE [master]
GO
